StateMachine:
  Rate: 10 # hz

Vehicle:
  Name: ABV1
  Mass: 12.6 # kg
  Inertia: 0.3 # kg-m^2
  Force1: 0.15 # N
  Force2: 0.08 # N

StateTracker:
  Interface: simulated
  Rate: 10 # Hz
  RigidBodyId: 1

Network:
  Local:
    Ip: 192.168.1.15

  Server:
    Ip: 192.168.1.64

Controller:
  Kp: [5.0, 5.0, 5.0]
  Ki: [0, 0, 0]
  Kd: [15.0, 15.0, 15.0]

Thrusters:
  InputDiscretization:
    On: 0.2
    Off: 0.09

  ThrusterDriver:
    Type: JETGPIO
    GPIO:
      pins: [12, 7, 8, 24, 19, 22, 15, 13]
