<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <StateMachine>
        <ControlMode>Pose</ControlMode> <!-- TODO: remove since not actually used -->
        <Frequency>10</Frequency>
    </StateMachine>

    <Vehicle Name="Optimus">
        <Mass units="kg"> 12.7 </Mass>
        <Inertia units="kg-m2"> 0.4 </Inertia>                    <!-- Vehicle Mass Moment of Inertia about the vertical axis-->
        <Force1 units="N"> 0.15 </Force1>                         <!--f1 is the force of 1 thruster when 1 is firing-->
        <Force2 units="N"> 0.08</Force2>                          <!--f2 is the force of 1 thruster when 2 are firing-->
    
        <StateTracker>
            <Interface>OptiTrack</Interface>
            <Rate>10</Rate>                    <!-- Rate at which the state is updated -->          

            <!--Only Valid when the above is <Interface>OptiTrack</Interface> -->
            <Network>
                <Server ip="192.168.1.3" cmdPort="1510" dataPort="1511"/>                   <!-- Server is the computer running OptiTrack-->
                <Local ip="192.168.1.15" cmdPort="1002" dataPort="1001"/>                   <!-- Local is the IP of the Vehicle or Dev/Control Laptop -->
                <Multicast ip="239.255.42.99" cmdPort="1510" dataPort="1511"/>              <!--Multicast IP Address that OptiTrack streams on -->
            </Network>
        </StateTracker>

        <StatePublisher>
            <Interface>ROS2</Interface>
            <Frequency>10</Frequency>
        </StatePublisher>

        <Controller type="PID">

            <Kp>5 5 5</Kp>
            <Ki>0 0 0</Ki>
            <Kd>10 10 10</Kd>

            <Thrusters>
                <Network>
                    <Arduino ip="192.168.1.18" cmdPort="1001" dataPort="1000"/>                 <!-- Arduino Board which controls the thrusters -->
                </Network>

                <ControlInputDiscretizationThresholds>                                <!-- Discretization of the Control Input via BangBang deadbanding-->
                    <On>0.2</On>
                    <Off>0.09</Off>
                </ControlInputDiscretizationThresholds>
            </Thrusters>

        </Controller>

    </Vehicle>
    
</Configuration>
